<div class="container">
<h1> <%= @product.name %> is in the following categories</h1>

<ul>
  <% @categories.each do |c| %>
   <li>
   	<%= link_to c.name, category_path(c) %>
   	<%= button_to 'Delete', product_path, method: :delete %>
 
   </li>
  <% end %>

 </ul>
</div>